body{
    background-color: yellow;
     font-family: sans-serif;
     text-align: center;
     margin: 0;
     padding: 0;
   }
   #content{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(10,minmax(200px, auto));
     max-width: 960px;
     margin: 200px;
     margin-top:5% ;
   }
   #content div{
   
     border:2px solid #333;
     background: #ffffff;
     padding: 20px;
     grid-gap:auto;
     margin: 2%;
    text-align: left;
    
     
   }
   #content div:nth-child(even){
     background: #ffffff;
     padding: 20px;
    
     grid-gap:auto;
     border:2px solid #333;
     text-align: left;
   }
   
   a{
     color: blue;
   }
   
   @media (min-width: 1440px) {
     content{
         width: calc(33.33% - 20px);
     }
   }
   
   
   
   
   #h2 {
     display: inline-block;
     background-color: white;
     padding: 3%;
     margin-top: 5%;
     border: 2px solid #333;
     padding-top: -0;
     padding-bottom: -0;
    
   }